src/helloworld/target/test-classes/com/github/ascis055/helloworld/AppTest.class
src/helloworld/target/classes/com/github/ascis055/helloworld/App.class
src/helloworld/target/helloworld-1.0-SNAPSHOT.jar
src/helloworld/target/maven-archiver/pom.properties
src/helloworld/target/maven-status/maven-compiler-plugin/compile/default-compile/createdFiles.lst
src/helloworld/target/maven-status/maven-compiler-plugin/compile/default-compile/inputFiles.lst
src/helloworld/target/maven-status/maven-compiler-plugin/testCompile/default-testCompile/createdFiles.lst
src/helloworld/target/maven-status/maven-compiler-plugin/testCompile/default-testCompile/inputFiles.lst
src/helloworld/target/surefire-reports/com.github.ascis055.helloworld.AppTest.txt
src/helloworld/target/surefire-reports/TEST-com.github.ascis055.helloworld.AppTest.xml
